<form class="form-horizontal">

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      {{input value=email type="email"  class="form-control" placeholder="email"}}
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      {{input value=password type="password"  class="form-control" placeholder="Password"}}
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-10 form-inline">
    <button class="btn btn-default" type="button" onclick={{action "signIn"}}>Login</button>
    <div class="checkbox">
      <label>
        <input type="checkbox"> <small>Remember me</small>
      </label>
    </div>
  </div>

</form>