body {
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

/* hide the horizontal scrollbar */
html {
  overflow-x: hidden;
}

/* make all parent containers 100% height */
// html, body, .wrapper {
//   height: 100%;
// }

.navbar-toggle {
  float: left;
}

.mobile-nav-toggle, .mobile-sidebar .fa-close {
  display: none;
}

  @media screen and (max-width: 767px) {
  .mobile-sidebar .fa-close, .mobile-nav-toggle {
    display: block;
  }

  /* outer div */
  .row-offcanvas {
    position: relative;
    left: 0;
    transition: left .3s ease-in;

    &.active {
      left: 80%;
    }

  }

  /* sidebar */
  .sidebar-offcanvas {
    left: -80%;
    width: 80%;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0px;
  }

}


.sidebar-nav {
  li {
    a {
      color: $white;
      font-size: 1.4em;
      line-height: 2em;
      margin-left: 1em;
    }
  }
}