$white: #fff;
$black: #000;

$darker-gray: #2d2d2d;
$dark-gray: #555;
$lighter-gray: #4A4144;

// #91275B
$myriad: #f8bd08;
$blue: #337ab7;
$yellow: #f8bd08;
$retro-gold: #E0D7C4;

img .img-blurred {
  border: 1px solid #fff;
  box-shadow: 0 0 5px #fff;
}