
@font-face {
 font-family: myriad;
 src: url("fonts/myriadc.eot") /* EOT file for IE */
}

@font-face {
 font-family: myriad;
 src: url("fonts/myriadc.TTF") /* TTF file for CSS3 browsers */
}

body {
  // font-family: Helvetica, Arial, sans-serif;
  // color: #555555;
  // font-size: 16px;
  //   text-rendering: optimizeLegibility;

}
h1, h2, h3, h4, h5, h6 {
  font-size: 1.1em;
  color: $myriad;
  font-family: myriad;
}

a {
  text-decoration: underline;

  &.default-color {
    color: $text-color;
  }
}

a:hover {
  color: #000000;
  text-decoration: underline;
}


em {
  font-style: italic;
}

strong {
  font-weight: bold;
}


h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
}



small {
  font-size: 0.8em;
}


.active.hide-active-link {
  display: none;
}

.fa.clickable {
  font-size: 1.5em;

  &.fa--default {
    color: $brand-primary;
  }

  &.fa--danger {
    color: $brand-danger;
  }

  &.fa--success {
    color: $brand-success;
  }
}