{{!partial "navigation"}}


{{#mobile-nav-toggle as |toggleNavigation|}}

  {{!-- Toggle for the mobile view as a multi-column in mobile and a single column layout in desktop view --}}
  <div class="container-fluid mobile-nav-toggle">
    <dor class="row">
      <div class="col-sm-12">
        <button class="pull-right btn btn-default" type="button" onclick={{action toggleNavigation}}>{{fa-icon "bars"}} Menü</button>
      </div>
    </dor>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-2 sidebar-offcanvas">
         {{partial "navigation"}}
      </div>
      <div class="col-xs-12 col-sm-10">

        <div class="panel panel-default">
          <div class="panel-body">
            {{!-- Main site content --}}
            {{outlet}}
          </div>

          {{!-- Footer --}}
          <div class="panel-footer borderless">
            <ul class="list-inline text-center">
              <li>
                {{#link-to "impressum"}}
                  impressum
                {{/link-to}}
              </li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </div>

{{/mobile-nav-toggle}}