<h3 class="text-center">
  Kontakt
</h3>

<ul class="text-center list-unstyled">
  <li>+49(0)4921 909 91 99</li>
  <li><a href="mailto:info@kater-restaurant.de" class="default-color">info@kater-restaurant.de</a></li>
  <li>Katergang 5 | 26721 Emden</li>
</ul>

<h3 class="text-center">
  Öffnungszeiten:
</h3>

<p class="text-center">
  Täglich ab 18:00 Uhr. <br>
  Samstags ab 8:30 Uhr, mit kleinem Frühstücksbuffet, <br>
  Sonntags ab 9 Uhr mit großem Schlemmer-Frühstücksbuffet. Sonntagsabends bleibt der KATER geschlossen. <br>
</p>

<img src="assets/images/Karten/map.jpg" border="0" alt="" class="img-responsive img-rounded img-blurred center-block">