<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-12 welcome-text">

      <div class="row">
        <div class="col-md-3 col-sm-12">
          <img src="assets/images/kater_dark.png"/ width="100">
        </div>
        <div class="col-md-9 col-sm-12">
          <h3>Willkommen im</h3>
          <span class="header-text">Kater</span>
        </div>
      </div>

      <p>
        Gutes Essen in rustikal-modernem Ambiente - im KATER erwarten wir Sie mit wechselndem saisonalen Angebot und unseren beliebten Klassikern aus der deutschen und der mediterranen Küche. Auf unserem Lavasteingrill bereiten wir Steaks in bester Qualität sowie saftige Premium-Burger zu.
      </p>

    </div>

    <div class="col-md-5 col-sm-5 col-xs-12">
     {{!-- images --}}
      <div class="col-md-6 col-sm-12 col-xs-6 pull-left">
        <img src="assets/images/welcome1.jpg" class="img-responsive"/>
      </div>
      <div class="col-md-6 pull-left col-xs-6">
        <img src="assets/images/welcome2.jpg" class="img-responsive"/>
      </div>
    </div>

  </div>

</div>