<div class="panel panel-default">
  <div class="panel-heading borderless">
    {{#link-to 'application'}}
      <img src="assets/images/logo.png" alt="logo" class="img-responsive center-block">
    {{/link-to}}
  </div>

  <div class="panel-body">
    <i class="fa fa-close pull-right" onclick={{action toggleNavigation}}></i>
    <ul class="list-unstyled sidebar-nav">

      <li class="text-uppercase">
        {{#link-to 'application'}}
          Kater
        {{/link-to}}
      </li>

      <li class="text-uppercase">
        {{#link-to 'contact'}}
          Kontakt
        {{/link-to}}
      </li>

      <li class="text-uppercase">
        {{#link-to 'cocktails'}}
          Cocktails
        {{/link-to}}
      </li>

    </ul>
  </div>

</div>

