<nav class="navigation">
  <ul class="navigation--list">

    <li class="navigation--list--item navigation--list--item__branded">
      {{#link-to "index"}}
        {{t "globals.brand"}}
      {{/link-to}}
    </li>

    <li class="navigation--list--item">
      {{login-form}}
    </li>

  </ul>
</nav>